:root {
  --brand-color-400: #f84747;
  --brand-color-500: #fd3129;
  --color-white: #ffffff;
  --color-black: #333333;
  --shape-color: #eeeeee;
  --shape-color-hover: #dddddd;

  --bg-color: #f4f4f4;

  --font-weight-medium: 500;

  --min-height-touchable: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

p + p {
  margin-block-start: 1rem;
}

/** COMPONENTS **/
/* Anchor */
a {
  color: var(--brand-color-400);
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, .button {
  width: 100%;
  min-height: var(--min-height-touchable);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 3rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--shape-color);

  transition: background-color 0.2s;

  color: var(--color-black);
  font-weight: var(--font-weight-medium);
  font-size: 0.875rem;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

button:hover, .button:hover {
  text-decoration: none;
  background-color: var(--shape-color-hover);
}

.button--filled {
  color: var(--color-white);
  background-color: var(--brand-color-400);
}

.button--filled:hover {
  background-color: var(--brand-color-500);
}

.text-field {
  padding-inline: 1rem;
  gap: 0.25rem;
  display: flex;
  flex-flow: column;
}

.text-field + .text-field {
  margin-top: 1rem;
}

.text-field label {
  color: var(--color-black);
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
}

.text-field input {
  width: 100%;
  padding-inline: 0.5rem;
  min-height: var(--min-height-touchable);
  border: none;
  border-radius: 0.5rem;
  background-color: var(--shape-color);

  color: var(--color-black);
  font-weight: var(--font-weight-medium);
  font-size: 0.875rem;
  font-family: inherit;
}
