*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

p + p {
  margin-block-start: 1rem;
}

/** COMPONENTS **/
/* Anchor */
a {
  color: #f84747;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
